{% extends 'layout/layout.html.twig' %}
{% block content %}
    <form id="elephpant-form" action="{{ api_host }}/api/v1/elephpant" method="POST">
        <label for="name">
            Name:
            <input type="text" id="name" name="name" placeholder="The Name Of the PHP Elephpant here" required minlength="1" />
        </label>
        <label for="description">
            Description:
            <textarea id="description" name="description" placeholder="The Description Of the PHP Elephpant here" required></textarea>
        </label>
        <label for="image">
            Image:
            <input type="file" id="image" name="image" />
        </label>
        <button type="submit">Submit</button>
    </form>
{% endblock %}